.Post {
    border: black solid 1px;
    margin:20px;

}
h2{
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}
p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}
.Post img{
    height: auto;
    width: 70%;
    flex-direction: column;
}
.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media only screen and (max-width:400px){
    
.Post h2{
    font-size: 0.5em;
    padding-right: 10px;
    padding-left: 10px;
}

.Post p{
    font-size: 0.5em;
    padding-right: 10px;
    padding-left: 10px;
}
} 