.Post {
  background-color: rgb(219, 243, 211);
  margin: 20px;
  display: flexbox;
  box-shadow: 5px 10px rgba(181, 202, 174, 0.786);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(181, 202, 174, 0.786); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px rgba(181, 202, 174, 0.786); /* Firefox 3.5 - 3.6 */
}
.Post:hover {
  box-shadow: 5px 10px rgba(112, 124, 108, 0.786);
  -webkit-box-shadow: 3px 3px 20px 6px rgba(112, 124, 108, 0.786); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 20px 6px rgba(112, 124, 108, 0.786); /* Firefox 3.5 - 3.6 */
}
h2 {
  padding-left: 3%;
  padding-right: 30px;
  text-align: left;
  padding-top: 15px;
  font-size: 1.2em;
}
.post-author {
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}
.author-comments {
  display: flex;
  justify-content: space-between;
}
.comments-button {
  border: none;
  background-color: rgb(219, 243, 211);
  margin-right: 20px;
}
.comments-button:hover {
  font-weight: bold;
  color: green;
  font-size: large;
}
.Post img {
  height: auto;
  width: 70%;
  flex-direction: column;
}
.Post .link {
  text-align: left;
  font-size: 0.8em;
  padding-left: 30px;
  padding-right: 30px;
  color: darkgreen;
}
video {
  max-width: 80%;
}
.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 94%;
  height: 100%;
  border: none;
  margin-left: 3%;
}

@media only screen and (max-width: 400px) {
  .Post h2 {
    font-size: 0.5em;
    padding-right: 10px;
    padding-left: 10px;
  }

  .Post p {
    font-size: 0.5em;
    padding-right: 10px;
    padding-left: 10px;
  }
}
