.App {
  text-align: center;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 9fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
.Header {
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end:3;

}

main {
  margin-left: 20px;
  border: pink solid 5px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

aside {
  margin-right:20px;
  border: purple solid 5px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

@media only screen and (max-width:950px){
aside {
  display: none
}
main {
  grid-column-end: 3;
  margin-right: 20px;
}
}


